/* Common styles for both desktop and mobile */
.bg-Video {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("./spaceLoop.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
}
.mainTitle{
    font-size: 25px;
}
.mainContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.mainAccordation {
    min-width: 49%;
    width: 400px;
    background-color: white;
    margin-top: 20px;
    max-height: 300px;
    overflow-y: scroll;
    border-color: transparent;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.icon:hover {
    color: rgb(73, 72, 72);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    /* Adjust styles for screens with a maximum width of 768px (typical tablet size) */
    .mainContent {
        padding: 10px; /* Increase padding for better spacing on smaller screens */
    }

    .mainAccordation {
        width: 100%; /* Expand the width to fill the screen */
    }
    .mainTitle{
        font-size: 20px;
    }
    .mainMiniText{
        font-size: 12px!important;
    }
    .mainDate{
        font-size: 12px;
    }
}
